/* GLOBAL */

:root{
  --primary:#EA625C;
  --primary-dark:#C9514C;
  --text-color:#333;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus{
outline:2px dashed var(--primary);
outline-offset: 2px;

}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family:"Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}



/* CONTAINER */
.container {
  width: 100%;
  max-width: 1100px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* BUTTON  */
.button {
  display: inline-block;
  padding: 12px 38px;
  border: 0;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--primary);
  color: #ffffff;
  transition: background-color 0.3 ease;

}

.button:hover{
  background-color: var(--primary-dark);

}
.button:active{
  opacity: 0.6;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

/* SITE-HEADER  */

.site-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header-container {
  display: flex;
  align-items: center;

}
.site-header-logo {
  margin-right: auto;
}
.site-header-logo:hover{
  opacity: 0.8;
}

.site-header-logo:active{
  opacity: 0.6;
}

.site-header-logo-image{
  display: block;
  width: 35px;
  height: 42px;
  object-fit: contain;
}

/* NAV  */

.sitenav {
  margin-right: 40px;
}
.site-navlist {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;

}

.site-nav-item {
}

.site-nav-item:not(:last-child){
  margin-right: 30px;
}
.site-nav-link {
  padding-top: 6px;
  padding-bottom: 3px;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  display: block;
  color: var(--text-color);
 font-size: 15px;
 transition: border-bottom 0.3s ease;
}
.site-nav-link:hover{
 border-bottom: 3px solid #333;
}


/* SEARCH  */
.search-form-input {
  border: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 1px solid #333;
}

/* HERO  */

.hero {
  border-bottom: 2px solid #ddd;
  padding-top: 140px;
  padding-bottom: 185px;
  background-image: url(../images/hero-image.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 550px) bottom;
}

/* LEAD-CTA  */
.lead-cta {
  width: 100%;
  max-width: 490px;
}
.lead-cta-heading {
  margin-top: 0;
  margin-bottom:30px;
  font-size: 50px;
  line-height: 1.2;
  color: black;
}
.lead-cta-text {
  margin-top: 0;
  color: #777;
 margin-bottom: 30px;
  border-left: 3px solid #888;
  padding-left: 37px;
}
